body {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

h1, .headerText p, .headerText button, p, h3, h4, li {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}
  
a {
  color: white;
  text-decoration: unset;
}

.loader, .loaderitems, header .localisation, .cercles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText, .tutoriel, .tutorielFlex, .tutorielFlex div, .cercles, .selection, .restaurantsFlex, .resto a, .description, .contI, footer{
  display: flex;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #99E2D0;
  z-index: -1;
  opacity: 0;
  animation: loaderForward 4s ease-out;
}

@keyframes loaderForward {
  
0% {
  z-index: 100000000000000;
  opacity: 1;
}
90% {
  opacity: 1;
}
  
100% {
  opacity: 0;
  z-index: -1;
}

}

.loaderitems {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 150px;
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  animation: rotation 3.8s linear;
  transform: rotate(0deg);
  border-bottom: 3px solid #9356DC ;
  border-left: 3px solid #9356DC ;
  border-right: 3px solid #FF79DA ;
  border-top: 3px solid #FF79DA ;
  opacity: 0;
}


@keyframes rotation {
  0% {transform: rotate(0deg);
    opacity: 1;}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);
        opacity: 1;}
}

.baton {
  height: 50%;
  margin-left: 1em;
  margin-right: 1em;
  width: 10px;
  background-color: #99E2D0;
  transform: scaleX(1);
  transform: scaleY(1);
  animation: batons 3s linear;
}

@keyframes batons {
  0% {transform: scaleY(1);}
  25% {transform: scaleY(0.5);}
  50% {
      transform: scaleY(0.2);
      }
  75% {
      transform: scaleY(0.5);
      }
  100% {transform:scaleY(1);
     ;
  }
}

.batonTwo { 
  animation-delay: 1s;
}

header {
  background-color: white;
  margin-top: 0;
  margin-bottom: 0.8em;
  flex-direction: column;
  text-align: center;
}

header figure {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0.2em;
  margin: 0;
  box-shadow: 0px 3px grey;
}

header figure img {
  width: 50%;
  max-width: 300px;
  height: auto;
  max-height: 40px;
  object-fit: contain;
}

header .localisation {
  margin-top: 0;
  font-size: 13px;
  width: 100%;
  background-color: rgba(234, 234, 234, 0.763);
  color: rgb(58, 58, 58);
}
header .localisation i {
  margin-right: 0.8em;
}

header .headerText {
  background-color: rgb(246, 246, 246);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1.4em;
  padding-bottom: 2.2em;
  width: 100%;
  
}
header .headerText h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  width: 50%;
  margin: 0;
  margin-bottom: 0.5em;
}

header .headerText p {
  line-height: 100%;
  font-size: 15px;
  font-weight: 300;
  color: rgb(114, 114, 114);
  width: 90%;
  margin: 0;
  margin-bottom: 1.4em;
}
header .headerText button {
  box-shadow: 0px 2px 5px rgb(133, 132, 132);
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: 0;
  font-size: 13px;
  margin: 0;
  padding: 8px 6% 10px;
  border-radius: 20px;
  font-size: 12px;
}

.headerText button:hover {
  background: linear-gradient(#fca1e2, #b08bde);
  box-shadow: 0px 3px 2px rgb(133, 132, 132);
 }

.tutoriel {
  flex-direction: column;
  
}
.tutoriel h2 {
  width: 80%;
  margin: 1em auto;
  position: relative;
  right: 0.5em;
  font-size: 20px;
  height: 5%;
}

.tutorielFlex { 
  flex-direction: column;
  align-items: center;
}

.tutorielFlex div {
  justify-content: start;
  align-items: center;
  margin-left: 0.5em;
  width: 80%;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: rgb(242, 241, 241);
  border-radius: 12px;
  box-shadow: 2px 2px 3px grey;
  transition: all 0.8s;
}
.tutorielFlex div:hover {
  background-color: rgba(147, 86, 220, 0.25);
  box-shadow: 3px 4px 3px grey;
}
.tutorielFlex div .cercles {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 1.5em;
  top: 0.5em; 
  margin-right: 0.4em;
  width: 0.4em;
  height: 0.4em;
  padding: 0.3em;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
}

.tutorielFlex div .cercles p {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
}

.tutorielFlex div i {
  margin-right: 1.2em;
  margin-left: -0.6em;
}

.tutorielFlex h3 {
  font-size: 12px;
  color: rgb(57, 56, 56);
  font-weight: 500;
}

.selection {
  background-color: rgb(237, 236, 236);
  margin-top: 1.2em;
  flex-direction: column;
  padding: 1.6em 0 2.4em 0;
 }

.selection h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0 0 1em 4%;
 }
 
.selection .restaurantsFlex {
  flex-direction: column;
  align-items: center;
}

.restaurantsFlex .resto {
  position: relative;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 3.5%;
  aspect-ratio: 1/0.6;
  width: 90%;
  max-height: 200px;
  box-shadow: 1px 1px 3px grey;
}

.restaurantsFlex .resto p {
  position: absolute;
  right: 1em;
  border-radius: 2px;
  font-size: 10px;
  background-color: #99E2D0;
  color: #1c846a;
  padding: 0.3em;
}

#restoQuatre {
  margin-bottom: 0;
}

.restaurantsFlex .resto a {
  height: 100%;
  flex-direction: column;
}

.restaurantsFlex .resto a img {
  object-fit: cover;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.restaurantsFlex .description {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;  
  height: 40%;
  max-height: 60px;
  padding: 0.3em 0 0.2em 0.8em;
}

.restaurantsFlex div h3, .restaurantsFlex div h4, .nom, .localisation {
  margin: 0;
  padding: 0;
}

.restaurantsFlex div h3 {
  color: black; /* La première case n'avait plus de texte sans*/
  font-weight: 600;
  font-size: 13px;
 }

.restaurantsFlex div h4 {
  color: rgb(75, 75, 75); /* La première case n'avait plus de texte sans*/
  font-weight: 300;
  font-size: 13px;
 }

.resto .nom {
  box-sizing: border-box;
 }

.resto .localisation {
  box-sizing: border-box;
  margin-top: 3px;
 }

.restaurantsFlex .contI {
  height: 100%;
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
  padding: 0;
  margin-right: 1em;
  color: black;
  background-color: white; /* 2 dernières prop = bug */
  border: 0;
}

#coeurContour {
  color: black;
  font-size: 18px;
  z-index: 200;
  position: relative;
}

#coeur {
   z-index: -1;
   transform-origin: 50% bottom;
   position: absolute;
   opacity: 0;
   left: 9px;
   font-size: 0px;
   bottom: 2px;
   color: red;
   transition: all 2s; 
}

#coeurContour:hover {
   color: black;
}
#coeurContour:hover #coeur {
   color: #9356dc;
   left: 1px;
   font-size: 17px;
   bottom: 0px;
   opacity: 1;
}

.restaurantsFlex .contI i {
  font-size: 16px;
  color: blue;
  
}
.restaurantsFlex .contI i:hover {
  animation: heartAnim 1s linear 0s 1 normal forwards;
}



footer {
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-color: rgb(44, 44, 44);
  padding-bottom: 1em;
}

footer h2,
footer li {
  margin: 0;
  font-size: 14px;
  margin-left: 1.4em;
}

footer h2 {
  margin-top: 1.4em;
  margin-bottom: 1em;
  font-weight: 100;
  font-family: 'Shrikhand', cursive;
}

footer ul {
  margin: 0;
  padding: 0;
  height: 90%;
}

footer li {
  font-size: 12px;
  margin-top: 0.4em;
}

footer i {
  margin-right: 0.43em;
}

#liAdjust {
  margin-right: 1em;
}

#iIncorrect {
  margin-right: 0.6em;
}

@media (min-width: 770px) and (max-width: 991px)  {
  
body {
  margin: 0;
  padding: 0;
}
  
ul {
  list-style: none;
  padding: 0;
}
  
a {
  color: white;
  text-decoration: unset;
}
  
header .logo img {
  width: 33%;
  max-width: 450px;
  max-height: 85px;
}

header .localisation {
font-size: 16px;
}

header .localisation i {
font-size: 22px;
}
  
header .headerText {
  padding-top: 2em;
  justify-content: space-evenly;
  padding-bottom: 3em;
}

header .headerText h1 {
  margin-bottom: 0.5em;
  font-size: 20px;
}

header .headerText p {
  margin-bottom: 1.6em;
  font-size: 17px;
}

header .headerText button {
  font-size: 16px;
}
  
.tutoriel h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  font-size: 20px;
}

.tutorielFlex {
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
  
.tutorielFlex div {
  flex-direction: column;
  align-items: center;
  margin-left: 0%;
  width: 30%;
  padding-bottom: 1em;
}

.tutorielFlex div .cercles {
  box-sizing: border-box;
  position: relative;
  top: -2em;
  right: 0;
  width: 3em;
  height: 3em;
  margin: 0;
  margin-top: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
  
.tutorielFlex div .cercles p {
  font-size: 18px;
}
  
.tutorielFlex div h3 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.tutorielFlex div i {
  margin: 0;
  font-size: 35px;
  margin-bottom: 10%;
}
  
.selection {
  height: fit-content;
  margin-top: 2.4em;
  padding-top: 1.2em;
  padding-bottom: 1em;
}

.selection h2 {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.selection .restaurantsFlex {
  
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
  
.restaurantsFlex .resto {
  
  width: 40%;
}
#restoQuatre {
  margin-bottom: 3.5%;
}
.restaurantsFlex .resto .description {
height: 30%;
max-height: 150px;
}
  
.restaurantsFlex .resto a img {
  height: 85%;
}
  
.restaurantsFlex div p {
  font-size: 12px;
}

.restaurantsFlex .contI i {
  font-size: 18px;
}

footer { 
  padding-top: 1.4em;
  padding-bottom: 2em;
  color: white;
}
      
footer h2 {
  margin: 0 auto 0.4em;
  font-size: 26px;
}
      
footer ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
      
footer li {
  height: fit-content;
  padding: 1em;
  background-color: white;
  border-radius: 15px;
  font-size: 16px;
  margin: 0;
}
  
footer li a, footer i  {
  color: black;
}

footer i {
  margin-right: 0.43em;
 }

#iIncorrect {
  margin-right: 0.6em;
 }

}

@media  (min-width: 991px) {
  
header {
  margin-bottom: 1%;
 }
      
header .logo img {
  width: 33%;
  max-width: 350px;
  max-height: 70px;
 }

header .localisation {
  font-size: 16px;
 }
  
header .localisation i {
  margin-right: 0.8em;
  font-size: 22px;
 }
      
header .headerText {
  justify-content: space-evenly;
 }
  
header .headerText h1 {
  padding: 0;
  font-size: 20px;
 }
  
header .headerText p {  
  font-size: 17px;
 }
  
header .headerText button {
  font-size: 16px;
 }
      
.tutoriel h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  font-size: 20px;
 }
  
.tutorielFlex {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
 }
      
.tutorielFlex div {
  flex-direction: column;
  align-items: center;
  margin-left: 0%;
  width: 30%;
  padding-bottom: 1em;
 }
  
.tutorielFlex div .cercles {
  box-sizing: border-box;
  top: -1.5em;
  right: 0;
  width: 2em;
  margin: 0;
  margin-bottom: 1em;
  height: 2em;    
 }
      
.tutorielFlex div .cercles p {
  font-size: 16px;
 }
      
.tutorielFlex div h3 {
  font-size: 14px;
  margin: 0;
  padding: 0;
 }
  
.tutorielFlex div i {
  margin: 0;
  font-size: 35px;
  margin-bottom: 1em;
 }
      
.selection {
  margin-top: 3em;
  padding-top: 1.6em;
  padding-bottom: 1em;
 }
  
.selection h2 {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2em;
 }
  
.selection .restaurantsFlex {
  margin: auto;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
 }
   
 .restaurantsFlex .resto {
  width: 48%;
  max-width: 700px;
}
#restoQuatre {
  margin-bottom: 3.5%;
}
   
.restaurantsFlex .resto .description {
  height: 30%;
  max-height: 150px;
 }

.restaurantsFlex .resto a img {
  height: 85%;
 }
      
.restaurantsFlex div p {
  font-size: 12px;
 }
  
.restaurantsFlex .contI i {
  font-size: 20px;
 }
  
footer { 
  padding-top: 1.2em;
  padding-bottom: 3em;
  color: white;
 }
          
footer h2 {
  margin: 0% auto 0;
  font-size: 28px;
 }
          
footer ul {
  display: flex;
  margin-top: 1.6em;
  justify-content: space-evenly;
 }
          
footer li {
  padding: 1.6em;
  background-color: white;
  border-radius: 15px;
  font-size: 16px;
  margin: 0;
 }
   
footer i, footer li a {
  color: black;
 }

}