body {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}


p, h3, li {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: white;
  text-decoration: unset;
}

.loader, .loaderitems, header .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
}


#animationAccueil {
  border: 3px solid black;
  animation: animationAccueilVide 3s ease-in 0s 1 normal none;
}

/*Ajout*/
.loader {

  position: fixed; /* Permet au p de se superposer plutôt que s'afficher en dessous */
  animation: backAnim 3.7s ease-out 0s 1 normal none;
  width: 100vw;
  height: 100vh;
  z-index: -10000;
}

@keyframes backAnim {
    0% {
      z-index: 100000;
      background-color: #FF79DA;}
    33% {
      z-index: 100000;
      background-color: #99E2D0;
      opacity: 1;}
      80% {
        z-index: 100000;
        opacity: 1;
        background-color: #9356dc;
      }
    100% {
      z-index: 100000;
      background-color: white;
      opacity: 0;}
}

.loaderitems {

  opacity: 0;
  background-color: tomato;
  border: 10vh solid black;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  animation: spin 3.5s ease-out;
  animation-fill-mode: none;
}

.loaderitems img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@keyframes spin {
  0% {background-color: #99E2D0;
      border: 2vh solid #9356dc;
      opacity: 1;}
  33.33% {background-color: #9356dc;
      border: 2vh solid #FF79DA;
    opacity: 1;
  transform: scale(1.5);
  }
  80.66% {background-color: #FF79DA;
      border: 2vh solid #99E2D0;
    opacity: 1;
    transform: scale(1)}
  99.99% {background-color: #99E2D0;
    border: 2vh solid #9356dc;
    opacity: 0;
    transform: scale(2);}
}

header {
  background-color: white;
  margin-top: 0;
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header .logo {
  width: 100%;
  font-size: 18px;
  padding-top: 0.6em;
  padding-bottom: 0%;
  box-shadow: 0px 3px grey;
}
header .logo img {
  width: 40%;
  max-width: 140px;
}

header .localisation {
  margin-top: 0;
  font-size: 13px;
  width: 100%;
  background-color: rgba(234, 234, 234, 0.763);
  color: rgb(58, 58, 58);
}
header .localisation i {
  margin-right: 0.8em;
}

header .headerText {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1.4em;
  padding-bottom: 2.2em;
  width: 100%;
  
}
header .headerText h1 {
  font-size: 20px;
  line-height: 120%;
  width: 50%;
  margin: 0;
  margin-bottom: 0.5em;
}

header .headerText p {
  line-height: 100%;
  font-size: 15px;
  font-weight: 300;
  color: rgb(114, 114, 114);
  width: 90%;
  margin: 0;
  margin-bottom: 1.4em;
}
header .headerText button {
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: 0;
  font-size: 13px;
  margin: 0;
  padding: 8px 6% 10px;
  border-radius: 20px;
  font-size: 12px;
}

.tutoriel {
  display: flex;
  flex-direction: column;
  
}
.tutoriel h2 {
  width: 80%;
  margin: 1em auto;
  position: relative;
  right: 0.5em;
  font-size: 20px;
  height: 5%;
}

.tutorielFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.tutorielFlex div {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 0.5em;
  width: 80%;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: rgb(242, 241, 241);
  border-radius: 12px;
  box-shadow: 2px 2px 3px grey;
}
.tutorielFlex div:hover {
  background-color: rgba(147, 86, 220, 0.25);
  box-shadow: 3px 4px 3px grey;
}
.tutorielFlex div .cercles {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 1.4em;
  top: 0.5em; 
  margin-right: 0.4em;
  width: 0.4em;
  height: 0.4em;
  padding: 0.3em;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
}

.tutorielFlex div .cercles p {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
}

.tutorielFlex div i {
  margin-right: 1.2em;
  margin-left: -0.6em;
}

.tutorielFlex h3 {
  font-size: 12px;
  color: rgb(57, 56, 56);
  font-weight: 500;
}

.selection {
  background-color: rgb(237, 236, 236);
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
  padding-top: 1.6em;
  padding-bottom: 2.4em;
}
.selection h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-left: 4%;
  margin-bottom: 1em;
}
.selection .restaurantsFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurantsFlex .resto {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 3.5%;
  aspect-ratio: 1/0.6;
  width: 90%;
  max-height: 200px;
  box-shadow: 1px 1px 3px grey;
}

#restoQuatre {
  margin-bottom: 0;
}

.restaurantsFlex .resto a {
  /* Background ne fonctionne pas sur les liens*/
  height: 100%;
  display: flex;
  flex-direction: column;
}
.restaurantsFlex .resto a img {
  object-fit: cover;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.restaurantsFlex div .background {
  background-image: url("./img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -40px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.restaurantsFlex div .bgOne {
  background-image: url("./img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: 0 -0px;
}
.restaurantsFlex div .bgTwo {
  background-image: url("./img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: -0px -120px;
}
.restaurantsFlex div .bgThree {
  background-image: url("./img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position: -0px -28px;
}

.restaurantsFlex .description {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  
  height: 40%;
  max-height: 60px;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  padding-left: 0.8em;
  
}

.restaurantsFlex div h3 {
  color: black; /* La première case n'avait plus de texte sans*/
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.restaurantsFlex div h4 {
  color: rgb(75, 75, 75); /* La première case n'avait plus de texte sans*/
  font-weight: 100;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.resto .nom {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.resto .localisation {
  
  box-sizing: border-box;
  margin: 0;
  margin-top: 3px;
  padding: 0;
}

.restaurantsFlex .contI {
  display: flex;
  height: 100%;
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
  padding: 0;
  margin-right: 1em;
  background-color: white; /* 2 dernières prop = bug */
  border: 0;
}

.restaurantsFlex .contI i {
  margin-top: 0em;
  font-size: 16px;
  color: blue;
  
}
.restaurantsFlex .contI i:hover {
  
  animation: heartAnim 1s linear 0s 1 normal forwards;
  /* ! Se fait facilement et mieux en JS !*/
}

@keyframes heartAnim {
  0% {
    color: blue;
  }
  50% {
    color: rgb(87, 17, 17);
  }
  100% {
    color: linear;
  }
}

footer {
  padding-top: 0.8em;
  padding-bottom: 1.2em;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  background-color: rgb(44, 44, 44);
}
footer h2,
footer li {
  margin: 0;
  font-size: 14px;
  margin-left: 1.4em;
}

footer h2 {
  font-weight: 100;
  font-family: 'Shrikhand', cursive;
}


footer ul {
  margin: 0;
  margin-top: 0.3em;
  padding: 0;
  height: 90%;
}

footer li {
  font-size: 12px;
  margin-top: 3px;
}

footer i {
  margin-right: 0.43em;
}

#liAdjust {
  margin-right: 1em;
}

@media (min-width: 770px) and (max-width: 991px)  {
  
body {
  margin: 0;
  padding: 0;
}
  
ul {
  list-style: none;
  padding: 0;
}
  
a {
  color: white;
  text-decoration: unset;
}
  
header .localisation {
font-size: 16px;
}

header .localisation i {
font-size: 22px;
}
  
header .headerText {
  padding-top: 2em;
  justify-content: space-evenly;
  padding-bottom: 3em;
}

header .headerText h1 {
  margin-bottom: 0.5em;
  font-size: 20px;
}

header .headerText p {
  margin-bottom: 1.6em;
  font-size: 17px;
}

header .headerText button {
  font-size: 16px;
}
  
.tutoriel h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  font-size: 20px;
}

.tutorielFlex {
  flex-direction: row;
}
  
.tutorielFlex div {
  flex-direction: column;
  align-items: center;
  margin-left: 0%;
  width: 30%;
  padding-bottom: 1em;
}

.tutorielFlex div .cercles {
  box-sizing: border-box;
  position: relative;
  top: -1.5em;
  right: 0;
  width: 2em;
  height: 2em;
  margin: 0;
  margin-top: 0;
  padding-top: 0.3em;
}
  
.tutorielFlex div .cercles p {
  font-size: 18px;
}
  
.tutorielFlex div h3 {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.tutorielFlex div i {
  margin: 0;
  font-size: 35px;
  margin-bottom: 10%;
}
  
.selection {
  height: fit-content;
  margin-top: 2.4em;
  padding-top: 0.8em;
  padding-bottom: 3em;
}

.selection h2 {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
}

.selection .restaurantsFlex {
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
  
.restaurantsFlex .resto {
  width: 29%;
  height: auto;
  aspect-ratio: 1/1;
}
.restaurantsFlex .resto .description {
height: 30%;
max-height: 150px;
}
  
.restaurantsFlex .resto a img {
  height: 85%;
}
  
.restaurantsFlex div p {
  font-size: 12px;
}

.restaurantsFlex .contI i {
  font-size: 18px;
}

footer { 
  padding-top: 1.4em;
  padding-bottom: 2em;
  color: white;
}
      
footer h2 {
  margin: 0 auto 0.4em;
  font-size: 26px;
}
      
footer ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
      
footer li {
  height: fit-content;
  padding: 1em;
  background-color: white;
  border-radius: 15px;
  font-size: 16px;
  margin: 0;
}
  
footer li a {
  color: black;
}

footer i {
color: black;
margin-right: 0.43em;
}

#liAdjust {
margin-right: 0.6em;
}



}

@media  (min-width: 991px) {
  
  header {
      margin-bottom: 1%;
   }
      
  header .localisation {
      font-size: 16px;
   }
  
  header .localisation i {
      margin-right: 0.8em;
      font-size: 22px;
   }
      
  header .headerText {
      justify-content: space-evenly;
   }
  
  header .headerText h1 {
      padding: 0;
      font-size: 20px;
   }
  
  header .headerText p {  
      font-size: 17px;
   }
  
  header .headerText button {
      font-size: 16px;
   }
      
  .tutoriel h2 {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2em;
      font-size: 20px;
   }
  
  .tutorielFlex {
      flex-direction: row;
   }
      
  .tutorielFlex div {
      flex-direction: column;
      align-items: center;
      margin-left: 0%;
      width: 30%;
      padding-bottom: 1em;
   }
  
  .tutorielFlex div .cercles {
      box-sizing: border-box;
      top: -1.5em;
      right: 0;
      width: 2em;
      margin: 0;
      margin-bottom: 1em;
      height: 2em;
      
   }
      
  .tutorielFlex div .cercles p {
      font-size: 16px;
   }
      
  .tutorielFlex div h3 {
      font-size: 22px;
      margin: 0;
      padding: 0;
   }
  
  .tutorielFlex div i {
      margin: 0;
      font-size: 35px;
      margin-bottom: 1em;
   }
      
  .selection {
      margin-top: 3em;
      padding-top: 1.6em;
      padding-bottom: 4em;
   }
  
   .selection h2 {
      font-size: 22px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.2em;
   }
  
  .selection .restaurantsFlex {
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
   }
   
   .restaurantsFlex .resto {
       width: 29%;
       height: auto;
       aspect-ratio: 1/1;
    }
   .restaurantsFlex .resto .description {
    height: 30%;
    max-height: 150px;
    }
  .restaurantsFlex .resto a img {
      height: 85%;
   }
      
  .restaurantsFlex div p {
      font-size: 12px;
   }
  
  .restaurantsFlex .contI i {
      font-size: 20px;
   }
  
  footer { 
      padding-top: 1.2em;
      padding-bottom: 3em;
      color: white;
   }
          
  footer h2 {
      margin: 0% auto 0;
      font-size: 28px;
   }
          
  footer ul {
      display: flex;
      margin-top: 1.6em;
      justify-content: space-evenly;
   }
          
  footer li {
      height: fit-content;
      padding: 2%;
      background-color: white;
      border-radius: 15px;
      font-size: 16px;
      margin: 0;
   }
   
   footer i {
     color: black;
   }

  footer li a {
      color: black;
   }

}