   /* Ne pas faire que les tailles en % */
   /* text ellipsis au mauvais endroit */
   /* Utiliser object fit pour les images + max height + vertical align sur le conteneur de l'image */
   /* Mettre prix et case dans la même div */
   /* La taille du prix change avec l'animation car la taille n'est pas définie, contrairement aux intitulés et plats */
   body {
      font-family: 'Roboto', sans-serif;
      margin: 0;
   }
  
   ul {
      list-style: none;
      padding: 0;
   }
  
   a {
      color: white;
      text-decoration: none;
   }
  
  h1, h2, main header, .plats {
      margin-left: 5%;
   }
  
   header, .logoFleche, main header, .entrees, .entreesFlex, .platsPrincipauxFlex, .dessertsFlex, .plats, .platsText, .prixIcone, .plats .prix, .caseCochee, footer {
      display: flex;
   }
  
  header, .entrees, .entreesFlex, .platsPrincipauxFlex, .dessertsFlex, .platsText, .prix, footer {
      flex-direction: column;
   }
  
  header, header .logoFleche, .caseCochee {
      justify-content: center;
      align-items: center;
   }
  
  
  main header, .plats, .platsText {
      justify-content: space-between;
   }
  
  header .logoFleche, header .imageBG, header .imageBG img, main header {
      width: 100%;
   }
  
  .logoFleche img, .imageBG img {
      height: auto;
   }
  
  h3, h4, .plats .prix p{
      margin: 0;
      padding: 0;
   }
  
  .accompagnements, .prix p {
      font-size: 10px;
   }
  
   h2, .plats .intitules {
      font-size: 11px;
   }
  
   .caseCochee .check_icons, .commander {
      font-size: 12px;   
   }
      
   .plats .intitules, .prix {
      font-weight: 600;
   }
  
  main, main header, .contI {
      border-radius: 35px 35px 0 0;
      background-color: rgb(237, 236, 236);
   }
  
  main, main header {
     border-radius: 35px 35px 0 0;
   }
  
  .platsText, .plats .intitules, .plats .accompagnements {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
   }
  
  footer h2, .commander, .contI {
     border: 0;
   }
  
  header {
     background-color: white;
     margin: 0;
    }
  
  header .logoFleche {
     position: relative;
     padding: 1em 0 0.5em 0;
   }
  
  header .logoFleche img {
      width: 45%;
      max-width: 300px;
      max-height: 35px;
      object-fit: contain;
  }
  
  header .logoFleche a {
     position: absolute;
     left: 4%;
     font-size: 14px;
   }
  header .logoFleche i {
     color: black;
     font-size: 14px;
   }
  
   header .imageBG {
     overflow-y: hidden;
     margin: 0;
   }
  
  header .imageBG img {
     margin-top: 0em;
     width: 100%;
     object-fit: cover;
     max-height: 300px;
   }
  
  main {
      padding: 2em 0 4em 0;
      margin-top: -2.2em;
      position: relative;
   }
  
  main header {
      flex-direction: row;
      align-items: center;
      padding: 0 0 1em 0;
      width: 90%;
      max-width: 500px;
   }
  
  main header h1 {
      font-family: 'Shrikhand', cursive;
      margin: 0 0 0 0%;
      padding: 0;
      font-size: 18px;
   }
  
  #coeurContour {
     margin-right: 0.5em;
     font-size: 18px;
     z-index: 200;
     position: relative;
  }
  
  #coeur {
      z-index: -1;
      transform-origin: 50% bottom;
      position: absolute;
      opacity: 0;
      left: 10px;
      font-size: 0px;
      bottom: 2px;
      color: red;
      transition: all 2s; 
   }
  
   #coeurContour:hover #coeur {
      color: #9356dc;
      left: 1px;
      font-size: 16px;
      bottom: 0px;
      opacity: 1;
   }
  
  .entrees, .platsPrincipaux, .desserts {
      margin-bottom: 1em;
   }
  
  .desserts {
      margin-bottom: 0;
   }
  
  h2 {
      font-weight: 200;
      width: 30px;
      color: rgb(63, 63, 63);
      border-bottom: 2px solid #99E2D0;
   }
  
  .entreesFlex, .platsPrincipauxFlex, .dessertsFlex {
      align-items: flex-start;
   }
  
  .plats { 
      position: relative;
      border-radius: 10px;
      width: 90%;
      max-width: 500px;
      height: 40px;
      margin-bottom: 0.6em;
      background-color: white;
      overflow: hidden;
      animation: itemAppear 0.6s;
      animation-timing-function: linear;
      animation-fill-mode: both;
   }
  
  .entrees .pUn {
     animation-delay: 0.1s;
  }
  .entrees .pDeux {
     animation-delay: 0.3s;
  }
  .entrees .pTrois {
     animation-delay: 0.6s;
  }
  
  .platsPrincipaux .pUn {
     animation-delay: 1s;
  }
  .platsPrincipaux .pDeux {
     animation-delay: 1.3s;
  }
  .platsPrincipaux .pTrois {
     animation-delay: 1.6s;
  }
  
  .desserts .pUn {
     animation-delay: 2s;
  }
  .desserts .pDeux {
     animation-delay: 2.3s;
  }
  .desserts .pTrois {
     animation-delay: 2.6s;
  }
  
  @keyframes itemAppear { 
  0% {opacity: 0;
     transform: translateY(20px);}
  100% {opacity: 1;
     transform: translateY(0px);}
  }
  
  #platFinal {
      margin-bottom: 0;
   }
  
  .platsText {
      padding: 6px;
   }
  
  .plats .intitules{
      font-size: 11px;
      font-weight: 500;
   }
  
  .accompagnements{
      font-weight: 300;
      color: rgb(91, 89, 89);
   }
  
  .prixIcone {
      margin-right: -40px;
      transition: all 2s;
   }
  
  .prix {
      width: 20px;
      justify-content: flex-end;
      padding: 0 0 6px 5px;
      margin-right: 5px;
   }
  
  .plats .prix p{
      padding-right: 8px;
      font-size: 9px;
   }
  
  .caseCochee {
      width: 40px;
      border-radius: 0 10px 10px 0;
      background-color: #99E2D0;
   }
  
  .caseCochee .check_icons {
      transition: all 3s;
      color: white;
   }
  
  .plats:hover .prixIcone { 
      margin-right: 0;
   }
  
  .plats:hover .check_icons { 
      transform: rotate(-360deg);
   }
  
  .commander {
     box-shadow: 0px 2px 5px rgb(133, 132, 132);
     display: block;
     margin: 3em auto 0;
     height: 32px;
     background: linear-gradient(#ff79da, #9356dc);
     color: white;
     padding: 1em 3em 2.2em;
     border-radius: 20px;
   }
  
  .commander:hover {
     background: linear-gradient(#fca1e2, #b08bde);
     box-shadow: 0px 3px 2px rgb(133, 132, 132);
   }
  
  footer {
     margin-top: 0;
     background-color: rgb(44, 44, 44);
   }
  
  footer h2 {
      font-weight: 100;
      font-family: 'Shrikhand', cursive;
   }
  
  footer h2, footer li {
      color: white;
      margin: 0;
      font-size: 12px;
      margin-left: 1.6em;
   }
  
  footer h2 {
     margin: 1.4em 0 1em 1.6em;
   }
  
  footer ul, #first {
      margin-top: 0;
   }
  
  footer li {
      font-size: 10px;
      margin-top: 0.4em;
   }
  
  footer i {
      margin-right: 1em;
   }
  
  #iIncorrect {
      margin-right: 0.6em;
   }
  
  @media (min-width: 770px) and (max-width: 991px) {
  
  footer ul {
      display: flex;
      justify-content: space-evenly;
   }
  
  .plats .intitules, .plats .accompagnements{
      margin: 0;
      padding: 0;
   }
  
  h2, .caseCochee .check_icons {
      font-size: 20px;
  }
  
  header {
     background-color: white;
     z-index: 100;
  }
  
  header .logoFleche img {
      width: 30%;
      object-fit: contain;
      max-width: 350px;
      max-height: 50px;
   }
  
  header .logoFleche i {
      font-size: 28px;
   }
  
   header .imageBG img {
     width: 100%;
     object-fit: cover;
     max-height: 360px;
   }
  
  main {
     padding: 2em 0 4em 0;
     margin-top: -2.2em;
   }
  
  main header {
      width: 94%;
      max-width: 100000px;
      padding: 0;
      margin: auto auto 1.6em;
   } 
  
  main header h1 {
      font-size: 26px;
      margin-left: 0.8em;
   }
  
  #coeurContour {
     margin-right: 0.7em;
     font-size: 26px;
  }

  #coeur {
     left: 14px;
     transition: all 1s ease-in; /*! Ne marche pas juste au dessus !*/
   }
  
   #coeurContour:hover #coeur {
     font-size: 24px;
   }
  /*Menu*/
  
  main article {
      margin-top: 0;
   }
  
  .containerEntPlaDes {
     margin: auto;
     display: flex;
     width: 94%;
     justify-content: space-evenly;
  }
  
  .entrees, .platsPrincipaux, .desserts {
     width: 33%;
  }
  
  h2 {
      width: 54px;
      margin: auto auto 1em;
   }
  
  .platsText { 
      padding: 6px; 
   }
  
  .caseCochee {
     width: 40px;
  }
  
  .commander {
     margin-top: 1em;
     height: 40px;
     font-size: 16px;
   }
  
  /* Footer */
  
  footer {
     height: 150px;
     padding: 2em 0 1.8em 0;
   }
  
  footer h2 {
      margin: 0% auto 0;
      font-size: 24px;
   }
  
  footer ul {
      margin-top: 1.6em;
   }
  
  footer li {
      padding: 1.3em;
      background-color: white;
      border-radius: 15px;
      font-size: 14px;
      margin: 0;
   }
  
  footer li a, footer i {
      color: black;
   }
  
  footer i {
      margin-right: 1em;
   }
  }
  
  @media (min-width: 992px) {
  
  main header, main header h1 {
      padding: 0;
   }
  .platsText {
      flex-direction: column;
   }
  
  header .logoFleche i {
      font-size: 40px;
   } 
  
  header .logoFleche img {
      width: 30%;
      max-width: 400px;
      max-height: 50px;
   }
  
  header .imageBG img {
      margin-top: -120px;
     
      width: 100%;
      height: 600px;
      max-height: 520px;
   }
  
  main {
      padding: 2em auto 2.2em;
      margin-top: -3em;
   }   
  
   main header {
     max-width: 1400px;
     width: 94%;
     padding: 0;
     margin: auto auto 1.6em;
  } 
  
  main header h1 {
     font-size: 26px;
     margin-left: 1.2em;
  }
  
  #coeurContour {
     margin-right: 0.8em;
     font-size: 26px;
  }
   
   #coeur {
     
     left: 11px;
   }
   
   #coeurContour:hover #coeur {
     left: 2px;
     font-size: 24px;
     bottom: 1px;
     opacity: 1;
  }
  
   /*Menu*/
   
   .containerEntPlaDes {
     margin: auto;
     display: flex;
     width: 94%;
     max-width: 1400px;
     justify-content: space-between;
  }
  
  .entrees, .platsPrincipaux, .desserts {
     width: 33%;
  }
  
  .entreesFlex, .platsPrincipauxFlex, .dessertsFlex {
     align-items: center;
  }
  
  h2 {
      font-size: 14px;
      width: 37px;
      margin: auto auto 2em;
   }
     
  .plats {
     margin-bottom: 2%;
     margin-left: 0;
     max-width: 500px;
     }
  
  .platsText { 
     padding: 6px; 
  }
  
  .prixIcone {
     margin-right: -60px;
  }
  
  .caseCochee {
    width: 60px;
    height: 100%;
  }
  
  .caseCochee .check_icons {
      font-size: 20px;
   }
  
  .commander {
      padding: 1em 2em 1em;
      margin-top: 2em;
      height: auto;
      font-size: 16px;
   }
   
   /* Footer */
   
   footer { 
      width: 100%;
      padding: 2em 0 3em 0;
      color: white;
      background-color: rgb(44, 44, 44);
   }
         
  footer h2 {
      margin: 0% auto 0;
      font-size: 28px;
   }
       
  footer h2 {
      margin: 0% auto 0;
      font-size: 26px;
   }
   
  footer ul {
      display: flex;
      margin: auto;
      width: 94%;
      max-width: 1400px;
      margin-top: 1.6em;
      justify-content: space-between;
   }
   
  footer li {
      padding: 1.2em;
      background-color: white;
      border-radius: 15px;
      font-size: 16px;
      margin: 0;
   }
  
  footer li a, footer i {
      color: black;
     }
   }
  
  